h1, h2, h3, p {
    color: darkslategray;
    font-family: 'Courier New', Courier, monospace;
}
.navigation {
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: row;    
}
body{
    background-color:  darkgray
}
.item{
    flex: 1;
    margin: 10px;
    flex-direction: column;
    max-width: 400px;
    flex-wrap: wrap;
    background-color: darkgray;
}
.group img{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.group{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
section{
    border-radius: 10px;
}
@media all and (min-width: 800px) {
    p {
      font-size: 16px;
    }
    .group {
        flex-direction: column;
      }
  }