h1, h2, h3, p  {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20px;
    max-width: 800px;

}
header ,nav{
  background-color: gray;
}

ul, li {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
body{
    background-color:  darkgray
}

.item{
    flex: 2;
    flex-direction: row;
    background-color: darkgray;
}

.group{
  display: flex;
  flex-direction: column;
}


section{
    border-radius: 10px;

}

form{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  width : 100%;
}
.Img{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
}
.Imgs{
  width: 300px;
  height: 300px;
  background-position: center;
  object-fit: cover;
  padding: 20px;
  border-radius:30px;
  }

form label, form input{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: black;
    padding-left: 20px;
}
.contact, .projects{
    background-color:lightslategray
}

@media all and (min-width: 800px) {
    p {
      font-size: 16px;
    }

    a{
      color: darkslategray;
    }

  }
